<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.snu.neptunus.olympus">

    <!-- T Map SDK Permission -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"></uses-permission>
    <uses-permission android:name="android.permission.READ_OWNER_DATA"></uses-permission>

    <!-- Location Permission -->
    <!-- <uses-permission android:name="android.permission.INTERNET"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SearchActivity"
            android:label="@string/search_activity_label"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:parentActivityName=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SplashActivity"></activity>

        <!-- is this useful? -->
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".HistoryActivity"
            android:parentActivityName=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
